@font-face{
    font-family: PlayfairFuenteCustom;
    src: url(fonts/Playfair/static/Playfair_9pt_SemiExpanded-Regular.ttf);
}

h1{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: PlayfairFuenteCustom;
}

h5{
    font-family: PlayfairFuenteCustom;
}

p{
    font-family: PlayfairFuenteCustom;
}
/*CREAMOS EL CIRCULO QUE OCUPAREMOS EN LOS 3 DIV*/
.circulo{
    width: 40px;
    height: 40px;
    border-radius: 50%;  
}
/*ASIGNAMOS UN COLOR EL CUAL CAMBIARA SEGUN EL DIV, 
ESTE ESTA VINCULADO CON EL CIRCULO*/
.color0{
   background-color: salmon; 
}

.color1{
    background-color: lightgreen;
}

.color2{
    background-color: lightseagreen;
}

/*TAMAÑO DEL DIV CONTENEDOR DE LA CLASE CARD*/
.ancho {
    width: 400px;
}
/*TAMAÑO BORDES Y COLOR A LA CARD*/
.card{
    width: 350px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 0px 5px #ccc, 0px 0px 10px #ccc;
    background: rgba(255, 255, 255, 0.1);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    transition: all 900ms;
}

.card:hover{
    transform: translateY(-10px);
}

/*ESTILO PARA EL DIV CONTENEDOR DEL CIRCULO AMARILLO*/
.circulito{
    float: right;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background-color: rgb(239, 239, 97);
}
 /*LE DAMOS ESTILOS AL DIV QUE VA A A MOSTRAR SOLO UNA LINEA*/
.linea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    height: 100%;
    width: 3px;
}

/*ACUMULAMOS LOS 3 ID PARA DARLE LAS MISMAS PROPIEDADES DE ESTILOS*/
#rango1, #rango2, #rango3 {
    margin: 0% 25%;
    width: 50%;
    text-align: center;
}

body{
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg,#d2001a,#7462ff,#f48e21,#23d5ab);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
}

@keyframes color{
    0%{
        background-position: 0 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0 50%;
    }
}